<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>ServletConfigEx1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  <context-param>
  	<param-name>User</param-name>
	<param-value>tops</param-value>
  </context-param>
  
    <context-param>
  	<param-name>Password</param-name>
	<param-value>12345</param-value>
  </context-param>
  
  
  <servlet>
  	
  	<servlet-name>ConfigServlet</servlet-name>
  	<servlet-class>ConfigServlet</servlet-class>
  	
  	<init-param>
  		<param-name>mob</param-name>
  		<param-value>9988998899</param-value>
  	</init-param>
  	
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>ConfigServlet</servlet-name>
  	<url-pattern>/ConfigServlet</url-pattern>
  </servlet-mapping>
  
  
  
  
  
   <servlet>
  	
  	<servlet-name>Servlet1</servlet-name>
  	<servlet-class>Servlet1</servlet-class>
  	
  	
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Servlet1</servlet-name>
  	<url-pattern>/Servlet1</url-pattern>
  </servlet-mapping>
  
  
    <filter>
  	
  	<filter-name>Servlet1</filter-name>
  	<filter-class>Servlet1</filter-class>
  	
  	
  	
  </filter>
  
  <filter-mapping>
  	<filter-name>Servlet1</filter-name>
  	<url-pattern>/Servlet1</url-pattern>
  </filter-mapping>
  
  
  
</web-app>